.hover-effect:hover .hover-window {
  display: block;
}

.hover-window {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 999;
}
